# -*- coding: utf-8 -*-
APP_PORT = {{ app_port }}
CSRF_ENABLED = True
SECRET_KEY = 'nqiworBHUKGLfgjreqgjlBGFlsdfhwejrdfdaf'
SERVICE_NAME = 'WebForm'
BASIC_AUTH_USERNAME = 'adminx'
BASIC_AUTH_PASSWORD = 'HldsNjgf7sdi34ogu2sd'